<section class="get-in-touch row">
    <div class="col-md-5 col-sm-12 contact-info">
        <div class="info-box">
            <div class="large-title">
                Got a project in mind?
            </div>
            <div class="medium-text">
                Share the details of your project –
                like scope, timeframes, or business challenges you'd like to solve.
                Our team will carefully study them and then we’ll figure out the
                next move together.

            </div>
        </div>
    </div>
    <div class="col-md-7 col-sm-12 contact-form">
        <div class="row">
            <div class="col-md-6 col-sm-12 input-box">
                <input id="name" placeholder="Your Name">

            </div>
            <div class="col-md-6 col-sm-12 input-box">
                <input id="companyName" placeholder="Your Company">

            </div>
            <div class="col-md-6 col-sm-12 input-box">
                <input id="email" placeholder="Your Email ID">

            </div>
            <div class="col-md-6 col-sm-12 input-box">
                <input id="phoneNo" placeholder="Your Phone No.">

            </div>
            <div class="col-md-12 col-sm-12 input-box">
                <div class="review-text">Pick necessary services (optional)

                </div>
                <div class="checkbox-group">
                    <div class="checkbox">

                        <label>
                            <input type="checkbox" name="services" value="Web">
                            <div>
                                Web
                            </div>


                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="services" value="iOS">
                            <div>
                                iOS
                            </div>


                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="services" value="Android">
                            <div>
                                Android
                            </div>


                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="services" value="UI/UX Design">
                            <div>
                                UI/UX Design
                            </div>



                        </label>
                    </div>
                    <div class="checkbox">

                        <label>
                            <input type="checkbox" name="services" value="Others">
                            <div>
                                Others
                            </div>


                        </label>






                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 input-box">
                <div class="review-text">Tell us a bit about your project and some reference video links you like.

                </div>
                <textarea id="aboutProject" placeholder="Tell us something..." style="height: 68px;"></textarea>
            </div>
        </div>
        <div class="input-box">
            <div id="response-text">
                <button onclick="sendMail()">Submit</button>
            </div>

        </div>
    </div>
</section>
