<div class="our-services">

    <div class="front-end">

      <div class="heading">

          <h1>WEB DEVELOPMENT</h1>
          <p>A website is the most reliable link between your brand and the user. Does it guide the users well?
            Is it something you are proud of? If not, we can definitely change that.</p>
      </div>

        <div class="tech-descrpt">


        <div class="tech-img">
         <img src="assets/Images/299-2994011_front-end-development-logos-hd-png-download.png" alt="Frontend Development">
        </div>
        <div class="tech-intro">
        <p>One of the major components of web development, Front-end development, focuses on the interaction between the user and the website. It is more like a well-executed stage performance for the audience. The performance must be clear and artistic in order to have an impact on them.</p>
        <p>Our developers are adept at writing codes in HTML, CSS, and JAVA in the right proportion. They have knowledge of User Experience (UX) and User Interface (UX). They can efficiently use ASP.net, PHP, and tools like MySQL. While handling a project, they use all of this knowledge to yield the brightest outcomes.  
        </p>
        <p>Our process is simple we start with understanding your needs and niche. After that, we create a plan that suits your needs in the best possible way. Later on, we use the right balance between technology and aesthetics to make a usable website that represents your company as a whole.With the trust of our clients and by using modern front-end application frameworks like Angular js, we have made our way to the top. It is because we love what we do and whatever we do, we always do it enthusiastically.</p>
        </div>

        </div>

    </div>

    <div class="back-end">
      
      <div class="heading">

        <h1>BACK-END DEVELOPMENT</h1>
        <p>A website is the most reliable link between your brand and the user. Does it guide the users well?
          Is it something you are proud of? If not, we can definitely change that.</p>
    </div>

    <div class="tech-descrpt">


      <div class="tech-img">
       <img src="assets/Images/backend.png" alt="Backend Development">
      </div>
      <div class="tech-intro">
      <p>One of the major components of web development, Front-end development, focuses on the interaction between the user and the website. It is more like a well-executed stage performance for the audience. The performance must be clear and artistic in order to have an impact on them.</p>
      <p>Our developers are adept at writing codes in HTML, CSS, and JAVA in the right proportion. They have knowledge of User Experience (UX) and User Interface (UX). They can efficiently use ASP.net, PHP, and tools like MySQL. While handling a project, they use all of this knowledge to yield the brightest outcomes.  
      </p>
      <p>Our process is simple we start with understanding your needs and niche. After that, we create a plan that suits your needs in the best possible way. Later on, we use the right balance between technology and aesthetics to make a usable website that represents your company as a whole.With the trust of our clients and by using modern front-end application frameworks like Angular js, we have made our way to the top. It is because we love what we do and whatever we do, we always do it enthusiastically.</p>
      </div>

      </div>

    </div>

    <div class="app-dev">
      
      <div class="heading">

        <h1>APP DEVELOPMENT</h1>
        <p>A website is the most reliable link between your brand and the user. Does it guide the users well?
          Is it something you are proud of? If not, we can definitely change that.</p>
    </div>

    <div class="tech-descrpt">


      <div class="tech-img">
       <img src="assets/Images/appdev.png" alt="App Development">
      </div>
      <div class="tech-intro">
      <p>One of the major components of web development, Front-end development, focuses on the interaction between the user and the website. It is more like a well-executed stage performance for the audience. The performance must be clear and artistic in order to have an impact on them.</p>
      <p>Our developers are adept at writing codes in HTML, CSS, and JAVA in the right proportion. They have knowledge of User Experience (UX) and User Interface (UX). They can efficiently use ASP.net, PHP, and tools like MySQL. While handling a project, they use all of this knowledge to yield the brightest outcomes.  
      </p>
      <p>Our process is simple we start with understanding your needs and niche. After that, we create a plan that suits your needs in the best possible way. Later on, we use the right balance between technology and aesthetics to make a usable website that represents your company as a whole.With the trust of our clients and by using modern front-end application frameworks like Angular js, we have made our way to the top. It is because we love what we do and whatever we do, we always do it enthusiastically.</p>
      </div>

      </div>

    </div>
   
</div>